---
---

<section class="mb-8">
  <div class="flex justify-between items-center">
    <div class="mb-6">
      <h1
        class="font-bold text-text-heading text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
      >
        <span
          class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
        >
          홀랄리 디스크
        </span>
      </h1>
      <ul class="mb-5">
        <li>지속적인 성장을 꿈꾸는, 갓 신입을 벗어난 FE 개발자.</li>
        <li>취미로 Logic을 배웁니다.</li>
      </ul>
    </div>
    <img src="/images/stef.png" width="160" height="160" />
  </div>
</section>
